/* common shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato';
}

.featured {
    max-width: 1400px;
    margin: auto;
    text-align: center;
}

.featured-detailes {
    width: 650px;
    margin: auto;
}



/* this is a header styles*/

.container {
    display: flex;
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 130px;
}

.header-details {
    width: 750px;
    margin: auto;
}


.header-title {
    color: #272727;
    font-size: 80px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}

.header-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    margin-top: 30px;
}

.header-img {
    margin-top: 50px;
    margin-right: 140px;

}


/* Feature section styles */



.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px;
}

.featured-img-group {
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.feature-imag {
    width: 464px;
    height: 538px;

}

.feature-first-img {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0;
}

.feature-second-img {
    width: 370px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 115px 47px 50px;
}

.feature-third-img {
    width: 314px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 65px 75px 0;
}

.under-line {
    margin-top: 30px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}


/* services section start */

.services-container {
    width: 1440px;
    margin-top: 128px;
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.services-img {
    margin: 85px 50px 85px 80px;

}


.service-short-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}


/* SIGN UP SECTION */


.sing-container {
    margin-top: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.sing-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-left: 40px;
}

.sing-description {
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.sing-btn {
    margin-top: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 295px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
}

.sing-details {
    width: 700px;
    margin: 100px 10px 180px 200px;
}

.sing-img {
    width: 318px;
    height: 420px;
    margin: 100px 100px 230px 200px;
}


/* Instagram Flowers */

.instagram-img-group {
    display: flex;
}

.instagram {
    margin-top: 128px;
}

.instagram-img-group {
    margin-top: 48px;
    width: 342px;
    height: 396px;
    gap: 24px;
}

/*  MAIN LAST SECTION  */



.last-section {
    width: 1440px;
    margin-top: 128px;
    height: 450px;
    background-image: url("photo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.last-section-container {
    padding-top: 170px;
}

.last-section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.last-section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

#input-field {
    width: 700px;
    height: 64px;
    border: 0;
    padding-left: 20px;

}

.last-section-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 18px 30px;
    margin-left: 15px;
}

/* footer section styles */
.footer-container {
    width: 1922px;
    height: 449px;
    background: #111010;
    margin-top: 128px;
    display: flex;
}
.footer-main{
    width: 1900px;
    margin: auto;
}

.footer-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    margin-left: 750px;
    margin-bottom: 30px;
}

.footer-span {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    width: 630px;
    margin-left: 650px;
}

.footer-last-paragraph {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}